/* @import "tailwindcss"; */

/* https://tailwindcss.com/docs/preflight#disabling-preflight */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  a {
    color: var(--mantine-color-velobigreen-8);
    text-decoration: none;
  }
  h1,
  h2,
  h3 {
    color: var(--mantine-color-velobigreen-8);
  }
}

@layer components {
  .page-vertical-flow {
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    @apply mx-auto;
  }
}
/* 
@layer theme {
  /*     fontFamily: {
    //       sans: ["var(--font-poppins)", "var(--font-sans)", ...fontFamily.sans],
    //     },
    :root{
      font-family: var(--font-poppins), var(--font-sans)
    };
} */

/* 
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
