/* @import "tailwindcss"; */
@import "tailwind-preset-mantine";

/* https://tailwindcss.com/docs/preflight#disabling-preflight */
/* @layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme); */
/* @import "tailwindcss/preflight.css" layer(base); */
/* @import "tailwindcss/utilities.css" layer(utilities); */

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  a {
    color: var(--mantine-color-velobigreen-8);
    text-decoration: none;
  }
  h1,
  h2,
  h3 {
    color: var(--mantine-color-velobigreen-8);
  }

  .mantine-Button-label {
    font-weight: 400;
  }
}

@layer components {
  .page-vertical-flow {
    width: 95%;
    min-width: calc(var(--mantine-breakpoint-xs) * 0.9);
    max-width: calc(var(--mantine-breakpoint-sm) * 1.1);

    /* width: var(--mantine-breakpoint-xs); */
    /*min-width: var(--mantine-breakpoint-xs); /*300px;*/
    /*max-width: var(--mantine-breakpoint-sm); /*800px;*/
    /* @media (width >= $mantine-breakpoint-sm) {
      width: var(--mantine-breakpoint-sm);
    } */

    @apply mx-auto;
  }
}
/* 
@layer theme {
  /*     fontFamily: {
    //       sans: ["var(--font-poppins)", "var(--font-sans)", ...fontFamily.sans],
    //     },
    :root{
      font-family: var(--font-poppins), var(--font-sans)
    };
} */

/* 
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
